@media only screen and (min-width : 768px) and (max-width : 1366px) {	
	
	.small-photo-content a{
	display: inline-block;
	width: 6em;
	height: 3em;
	line-height: 3em;
	font-weight: bold;
	font-size: 1.5rem;
	border: none;
	-moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
	background: #ED654B;
}
}