@media  screen and (min-width : 768px) {
	.small-photo-text:hover {
	background: rgba(0,0,0,1);
	}

	.small-photo-text:hover .small-photo-title {
	padding-top: 2.14em;
	}

	.small-photo-text:hover .small-photo-content {
	margin-top: 1.43em;
	}

}