body,div,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,form,a,p,textarea,input,img {
	font-family: "微软雅黑";
}


/*首页部分 首页部分 首页部分*/

/*公共顶部导航栏*/
.navbar-default {
	line-height: 50px !important;
}

.navbar-default a{
	line-height: 50px !important;
	font-size: 1.3em !important;
}

.navbar-default li a:hover {
	color: #fff !important;
	background-color: #ED654B !important;
}

.my-navbar {
	margin-top: 20px;
	padding:20px 0;
	transition: background 0s ease-in-out, padding 0s ease-in-out;
	}
	
.my-navbar a{
	font-size: 1.3em !important;
	background:transparent !important;
	color:#fff !important;
	}
	
.my-navbar a:hover {
	color:#ED654B !important;
	background:transparent;outline:0;
	}
	
.my-navbar a {
	transition: color 0s ease-in-out;
	}/*-webkit-transition ;-moz-transition*/
	
button.navbar-toggle {
 	background-color:#FBFBFB;
 	}/*整个背景都是transparent透明的，会看不到，所以再次覆盖一下*/  
 	
button.navbar-toggle > span.icon-bar {
 	background-color:#000;
 	}  
 	
span.brand-logo {
	display: block;
	padding-top: 2rem;
	font-size: 5rem;
	font-weight: bold;
}

.navbar-brand .index-logo1 {
	display: none;
	width: 120px;
	height: 80px;
}

.index-logo2 {
	width: 125px;
	height: 75px;
}

.index-logo3 {
	width: 80px;
	height: 45px;
}

.nav a {
	font-family: "微软雅黑";
	font-weight: bold;
	font-size: 14px;
}

.nav li {
	margin-left: 15px;
}

/*公共联系方式部分*/
.indicate {
    text-align: center;
    background-color: #604690;/*rgb:237 101 75*/
   
    padding: 4em 0;
}

span.glyphicon.glyphicon-map-marker {
    font-size: 2em;
    border-radius: 60px;
    border: 2px solid #fff !important;
    padding: 1em;
	color:#fff;
}

span.glyphicon.glyphicon-map-marker:hover {
    border: 2px dotted #fff !important;
}

span.glyphicon.glyphicon-earphone {
    font-size: 2em;
    border-radius: 60px;
    border: 2px solid #fff !important;
    padding: 1em;
    color:#fff;
}

span.glyphicon.glyphicon-earphone:hover {
    border: 2px dotted #fff !important;
}

span.glyphicon.glyphicon-envelope {
    font-size: 2em;
    border-radius: 60px;
    border: 2px solid #fff !important;
    padding: 1em;
    color:#fff;
}

span.glyphicon.glyphicon-envelope:hover {
    border: 2px dotted #fff !important;
}

span.glyphicon.glyphicon-send {
    font-size: 2em;
    border-radius: 60px;
    border: 2px solid #fff;
    padding: 1em;
	color:#fff;
}

span.glyphicon.glyphicon-send:hover {
    border: 2px dotted #fff !important;;
}

.indicate-grid p {
  	font-size: 1em;
  	font-weight: bold;
 	color: #fff;
  	margin-top: 2em;
  	margin-bottom: 1em;
}
.indicate-grid p a {
    color: #fff;
    text-decoration: none;
}

/*公共底部固定栏*/
.index-footer {
	width: 100%;
	font-size: 1.1rem;
	text-align: center;
	line-height: 4rem;
	color: #fff;
	background: #222;
}

/*轮播图*/
.carousel-inner .item img {
	width: 100%;
	height: 700px;
}

.banner-text {
	margin: auto;
	top: 35%; 
	left: 0;	
	bottom: 0;
	right: 0;
	font-size: 1.8rem;
	text-align: center;
}

.banner-text p {
	padding: 0 2rem;
}

.banner-text .banner-title a{
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}

.banner-text .banner-title a: hover{
	color: #fff;
	text-decoration: none;
}

.banner-text p a{
	margin-top: 1.2rem;
	font-size: 2rem;
	background: #ED654B;
	border: 1px solid #fff;
}


.banner-text p a:visited {
	background: #ED654B;
	border: 1px solid #fff;
}

.banner-text p a:hover {
	background: #333;
	border: 1px dotted #fff;
}

.banner-text p a:active {
	background: #333;
	border: 1px solid #fff;
}

#toBottom {
	width: 50px;
	height: 50px;
	background: url(../images/to-bottom.png) no-repeat;
	background-size: contain;
}

/*轮播图左右箭头控制*/
.carousel-control {
	font-size: 50px;
}

/*益盾寓意*/
.index-main-text1 {
	margin: 0;
	line-height: 200%;
	text-align: center;
	background: url(../images/hb1.jpg);
	background-size: cover;
	background-position: 50% 50%;
}

.index-main-text1 h1 {
	font-weight: bold;
	color: #fff;	
}

.index-main-text1 p {
	color: #F9F9F9;
	margin: 30px;
}


/*六图部分*/
.index-list1-bg {
	padding: 1.43em 0;
	width: 100%;
	background: #F9F2F4;
}

.xs-1 {
	padding-bottom: 15px;
}

.xs-2 {
	padding-top: 15px;
}

.index-list1-title {
	padding: 30px 0;
	color: #ED654B;
	font-weight: bold;
	text-align: center;
}

.index-small-photo {
	position: relative;
	display: block;
	overflow: hidden;
	border-bottom: 4px solid #00cc8b;
}

.small-photo-text {
	position: absolute;
	top: -100%;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;	
	transition: all 0.5s;
}

.small-photo-title {
	position: absolute;
	display: block;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin:0 auto;
	width: 4.5em;
	height: 1.5em;
	text-align: center;
	font-weight: bold;
	color: #fff;
	background: rgba(0,255,174,0.6);
	transition: all 0.5s;
}

.index-small-photo:hover >.small-photo-text {
	top: 0;
	background: rgba(0,0,0,0.36);
}

.index-small-photo:hover >.small-photo-title {
	top: 40%;
	background: transparent !important;
}


.xs-3 .small-photo-text {
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	text-align: center;	
	transition: all 0.5s;
}

.xs-3 .index-small-photo:hover >  .small-photo-text {
	left: 0;
	background: rgba(0,0,0,0.36);
}

/*抗菌新诉求*/
.index-main-text2 {
	color: #fff;
	text-align: center;
	background: url(../images/index-main-bg.jpg)no-repeat;
	background-size: cover;
}

.index-main-text2 h1 {
	font-weight: bold;
}

.index-main-text2 p {
	padding: 30px;
}

.index-main-text2 em {
	padding: 30px;
	color: #ED654B;
	font-size: 3rem;
	font-weight: bold;
}

/*灭菌原理*/
.index-list2 {
	display: none;
	border-bottom: 4px solid #ED654B;
}

.index-list2:last-of-type {
	border: none;
}

.index-list2-content {
	padding: 50px;
}

.index-list2-pic {
	margin-top: 20px;
	margin-bottom: 0;
	background: transparent;
	border: none;
}

.index-list2-title {
	color: #ED654B;
	text-align: center;
	font-weight: bold;
}

.index-list2-text {
	padding: 0 5px;
	margin-bottom: 40px;
	text-indent: 3rem;
}

/*产品检测报告*/
.project {
	position: relative;
    text-align: center;
    padding: 4em 0;
	background-color: #ED654B;
}
.project h3 {
    font-size: 3em;
    font-family: 'Ubuntu-Italic';
    text-transform: capitalize;
    color: #fff;
}
.item img {
    width: 100%;
}
.gallery-cursual {
    margin-top: 3em;
}

.project-bigPic {	
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 999;
	display: none;
	width: 800px;
	height: 600px;
	margin: auto;
	background-color: #fff;
	border: 1px solid #CCC;
}

.project-bigPic img {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
	width: 100%;
	height: auto;
}

#owl-demo {
	background-color: #fff;
}

/*product部分 product部分 product部分*/

/*头部banner*/
.product-banner {
	position: relative;
	width: 100%;
	height: 500px;
	background: url(../images/banner1.jpg) no-repeat;
	background-size: cover;
}

.product-banner .product-banner-text h1{
	top: 50%;	
	color: #fff;
	text-align: center;
	font-family: "微软雅黑";
	font-weight: bold;
}

/*分页导航栏*/
.product-submenu {
	line-height: 5rem;
	text-align: left;
}

.product-submenu-title {
	padding-top: 20px;
	padding-left: 10px;
	margin-bottom: 0;
	color: #122372;
	white-space: nowrap;
	font-weight: bold;
	line-height: 5rem;
}

.product-submenu ul {
	margin-top: 0;
}

.product-submenu ul li {
	padding: 0;
	list-style: none;
	border-bottom: 1px solid #dfe8ff;
}

.product-submenu ul li a {
	display: block;
	margin: 20px 0;
	padding-left: 10px;
	text-decoration: none;
	border-left: 2px solid #b3b3b3;
}

.product-submenu ul li a:link {
	color: #000;
}

.product-submenu ul li a:visited {
	color: #000;
}

.product-submenu ul li a:hover {
	color: #122372;
	border-left: 2px solid #122372;
}

.product-submenu ul li a:active, .product-submenu ul li a:focus {
	color: #ff0000;
	border-left: 2px solid #ff0000;
	background: url(../images/arrow-right1.png) no-repeat;
	background-position: right;
}

.product-submenu-text1 {
	margin: 0;
	padding-bottom: 3px;
	font-weight: bold;
}

.product-submenu-text2 {
	margin-top: 0;
	display: block;
	color: #b3b3b3;
	line-height: 1rem;
}



/*所在位置*/
.product-position {
	padding-top: 20px;
	line-height: 5rem;
	text-align: center;
	border-bottom: 1px solid #dfe8ff;
}

.product-position .position-text {
	color: #888;
}

.product-position .position-arrow {
	font-size: 2rem;
}

/*主体内容头部*/
.product-main-top {
	text-align: center;
	border-bottom: 1px solid #dfe8ff;
}

.product-main-top h1{
	color: #122372;
	font-weight: bold;
	padding-bottom: 0;
}

.product-main-top h3{
	margin: 0 auto;	
	width: 200px;
	color: #b3b3b3;
	padding-bottom: 20px;
	border-bottom: 2px solid #122372;
}

/*产品列表*/
.product-list {
	margin: 18px 0 30px 0;
	text-align: center;
}

.product-list-box {
	margin: 20px 0;
	text-align: center;
	box-shadow: 1px 2.5px 5px #888888;
}

.product-list-photo {
	display: block;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	border: 1px solid #dfe8ff;
}

.product-list img {
	padding-top: 20px;
}

.product-list-title {
	color: #ED654B;
	font-weight: bold;
}

.product-list-link a {
	color: red;
}



/*产品详情部分 product-details*/

/*产品信息*/
.product-main-pic {
	padding-left: 40px;
}

.product-main-information, .product-main-head, .product-main-content{
	padding-left: 40px;
	text-align: left;
}

.product-main-information {
	padding-top: 20px;
}


/*--single--*/
.single{
   padding:2em 0;
}
.single h2{
  text-align:center;
  font-size: 2.8em;
  font-family: 'Ubuntu-Italic';
  text-transform: capitalize;
  color: #ED654B;
 }
.single-section{
	margin-top:1em;
}
.single-pic{
	text-align:center;
	margin-bottom:1em;
}
.single-section p {
	color:#777;
	line-height: 1.8em;
	font-size: 1em;
}
.single-pic img {
   width: 100%;
}
ul.blog-ic li{
	display:inline-block;
}
 ul.blog-ic li span{
	color:#000;
	padding: 0.4em 0.8em 0.2em 0;
	display:block;
	font-size: 1.1em;
}
 ul.blog-ic li a  {
	text-decoration:none;
	color:#000;
}
ul.blog-ic {
   margin: 1em 0;
}
 ul.blog-ic li span i{
	font-size: 15px;
  color: #ED654B;
  display: inline-block;
  margin: 0 8px 0 0;
}
.content-form{
	margin-top:2em;
}
.content-form h3,.comments h3{ 
	 font-size: 3em;
    font-family: 'Ubuntu-Italic';
    text-transform: capitalize;
    color: #ED654B;
	text-align: left;
	margin-bottom: 0.5em;
}
.single-section h4 {
    font-size: 1.5em;
    color: #222;
    margin: 1em 0;
    font-family: 'Ubuntu-Italic';
}
.content-form form input[type="text"],.content-form form textarea{
	padding: 10px 15px;
	width: 60%;
	color:#4E4F63;
	font-size: 1em;
	border: 1px solid #323352;
	background:transparent;
	outline: none;
	font-family: 'Lato', sans-serif;
	display: block;
	margin:10px 0;
}
.content-form form textarea{
	height:150px;
	resize:none;
}
.content-form form input[type="submit"] {
	background: #ED654B;
	padding: 0.5em 1.3em;
	border: none;
	font-size: 1em;
	margin-bottom: 1em;
	color: #fff;
	outline: none;
	font-weight: 400;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.content-form form input[type="submit"]:hover{
	background:#222;
}
.comments{
	padding: 3em 0;
}
.comment-info {
	margin-bottom:2em;
}
.comment-info h5 {
	font-size: 1.3em;
	color:#222;
   text-transform: capitalize;
}
.comment-info p {
	color:#777;
	line-height: 1.8em;
	font-size: 1em;
	margin:0.5em 0;
}
.comment-info h6{
	color:#222;
	font-size:0.95em;
	display:block;
	margin-bottom:1em;
}
.comment-info a{
	color:#000;
	background:transparent;
	padding: 0.5em 1.5em;
	text-decoration: none;
	font-size: 0.85em;
	display: inline-block;
	border: 1px solid #323352;
}
.comment-info a:hover{
	color: #fff;
	 background: #ED654B;
  	border: 1px solid#ED654B;
}
.comment-grid{
	margin-bottom:2.5em;
}


#information{
	background-color: #eee;
	padding: 40px 0;
}

.info-content{
	width: 700px;
	background-color: #fff;
	margin: 0 0 20px 0;
	box-shadow: 2px 2px 3px #ccc;
}

.info-content h4{
	color: #333;
	padding: 2px 0 0 0;
}
.info-content p{
	line-height: 1.6;
}
/*案例*/

.blog-section {
	padding: 4em 0;
}
.blog-section h2 {
    font-size: 2.8em;
    font-family: 'Ubuntu-Italic';
    text-transform: capitalize;
    color: #ED654B;
    text-align: center;
}
.blog-grids {
  margin-top: 3em;
}
.blog-grid {
    padding: 0 0.5em 1.2em;
    
}
.blog-grid h5 {
  font-size: 0.95em;
  color: #ED654B;
  font-weight: 600;
  margin-top: 1em;
  text-transform: capitalize;
}
.blog-grid h4 {
  font-size: 1.5em;
  color: #222;
  margin: 0.5em 0;
 font-family: 'Ubuntu-Italic';
}
.blog-grid p {
  font-size: 1em;
  color: #777;
  text-align: left;
  line-height: 1.8em;
  margin-bottom:1em;
}

a.button {
  font-size: 1em;
   text-transform: capitalize;
}
.blog-grid h4 a {
    text-decoration: none;
    color: #222;
}
a.mask {
  text-decoration: none;
  overflow: hidden;
  display: block;
}
img.zoom-img {
  -webkit-transform: scale(1, 1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 250ms;
  -moz-transform: scale(1, 1);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 250ms;
}
img.zoom-img:hover {
  -webkit-transform: scale(1.1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 750ms;
  -moz-transform: scale(1.1);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 750ms;
  overflow: hidden;
}

.tool-title {

  padding-left: 15px;
  border-left: 5px solid #053a88;
  font-size: 36px;
  font-weight: bold;
  color: #053a88;
  margin-bottom: 30px;
}
/*产品详情*/
.pg1 li{padding:30px 0 20px 0;border-bottom: 1px dashed #bfbfbf;}
  .pg1 li > span {
    display: block;
    float: left;
    color: #266dd5;
    font-size: 16px;
    font-weight: bold;
    width: 10%;
    margin-right: 2%;
    line-height: 25px;
    text-align: left;
  }
.pg1 li>p{
  float: left;
  color: #7a7878;
  font-size: 16px;
  line-height: 25px;
  text-align: left;
  width: 88%;}
.pg1 li>img{float: left;margin-right: 15px;}
            